* {
  background-color: hsl(212, 45%, 89%);
  font-size: 18px;
}

.root {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.bg-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;
  width: 20rem;
  height: auto;
  box-shadow: 0px 3px 13px 1px hsl(220, 15%, 55%);
}

.bg-container img {
  border-radius: 1rem;
  width: 18rem;
  max-width: 90%;
  margin: 1rem;
}
h2 {
  font-size: 24px;
  font-weight: 700;
  background-color: whitesmoke;
  width: 80%;
  margin: 0%;
  padding: 5%;
  text-align:center;
  justify-content: center;
  font-family: "Outfit", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
p {
  font-size: 16px;
  width: 80%;
  font-weight: 400;
  margin: 0.5rem 0rem 2rem 0rem;
  font-family: "Outfit", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: whitesmoke;
  color: gray;
  text-align:center;
}
